@import "../../../styles/settings.scss";

.root {
  padding: $base-size ($base-size * 3);
  margin: ($base-size * 2) 0;
  border: 1px solid $grey;
  border-radius: 20px;
  box-shadow: 0 0 30px $shadow;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $main;

    h1 {
      margin: 0;
    }

    .button {
      color: inherit;
      text-decoration: none;
      min-width: 250px;
      margin: $base-size 0;

      &:hover {
        background: lighten($main, 50%);
        transition: $transition;
      }
    }
  }

  .post {
    display: flex;
    flex-wrap: wrap;

    .postImage {
      flex: 1 100%;
      margin: ($base-size * 2) 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .postText {
      flex: 2;
      text-align: justify;
      letter-spacing: 1px;
      line-height: 1.7;
      margin: ($base-size * 2);
      color: $letter;
      font-size: 20px;
    }

    .postInfo {
      flex: 1;
      margin: ($base-size * 2) 0;
      text-align: right;
      color: $main;

      .price {
        margin: 0;
        padding: ($base-size / 4) ($base-size / 2);
        text-transform: uppercase;
        color: $white;
        background: $main;
        border-radius: 5px;
      }

      .contactDetails {
        margin: ($base-size * 2) 0;
        padding: ($base-size / 4) ($base-size / 2);
        background: lighten($main, 50%);
        border-radius: 5px;
        line-height: 1.7;

        h2 {
          margin: 0;
        }

        h3 {
          margin: 0;

          a {
            text-decoration: none;
            color: $main;

            &:hover {
              color: $black;
              transition: $transition;
            }
          }
        }
      }

      .postData {
        padding: ($base-size / 4) ($base-size / 2);
        background: lighten($main, 50%);
        border-radius: 5px;
        line-height: 1.7;
        font-size: $base-size;

        p {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .post {
      flex-direction: column;

      .postText {
        margin: ($base-size * 2) 0;
      }
    }
  }

  @media (max-width: 991px) {
    .header {
      flex-direction: column-reverse;
    }
  }
}
